
body {
 display: flex;
 flex-direction: column;
 
}

.Content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#logo {
    color: white;
}

.Top-section {
display: flex;
flex-direction: row;
flex-shrink: 0;
margin-bottom: 20px;
justify-content:space-between;
align-items: baseline;
padding: 100px;
background-color: #1F2937;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    color:white;
    text-decoration: none;
}

.right-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

a {
    margin: 5px;
}