
body {
 display: flex;
 flex-direction: column;
 
}



#logo {
    color: white;
    margin-left: 20px;
}

.Top-section {
display: flex;
flex-direction: row;
flex-shrink: 0;
margin-bottom: 20px;
justify-content:space-between;
align-items: baseline;
padding: 5px;
background-color: #1F2937;

}

.Infographic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    text-align: center;
}

.box-section {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to a new line */
  flex-shrink: 0;
}

.box-container {
  padding: 10px;
  padding-bottom: 40px;
  flex: 0 0 calc(25% - 10px); /* Set a fixed width for each box-container (25% because there are four boxes in a row) */
  max-width: calc(25% - 10px); /* Set a maximum width to prevent boxes from getting wider */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  word-wrap: break-word;
  flex-shrink: 0;
}

.box {
  flex: 1 0 100%; /* Let the box fill the available width within the box-container */
  flex-shrink: 0;
  padding: 50px;
  margin: 5px;
  background-color: rgb(234, 242, 242);
  border-style: solid;
  border-color: rgb(161, 182, 213);
}

p {
    display: flex;
    flex-shrink: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

.hook {
    size:
}
a {
    color:white;
    text-decoration: none;
}

.right-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

a {
    
    margin-right: 20px;
}